<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Transaction</title>
        <link rel="stylesheet" href="./public/css/main.css">
    </head>
    <body>
        <form action="/transactions/<%=transaction.id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=transaction.title%>"/>
        <br/>
        Description: <input type="text" name="description" value="<%=transaction.description%>"/>
        <br/>
        Amount: <input type="number" name="amount" value="<%=transaction.amount%>"/>
        <br/>
        Tags: <input type="text" name="tags" value="<%=transaction.tags%>"/>
        <br/>
        <input type="submit" name="" value="Update Transaction" id="submit"/>
        </form>
    </body>
</html>
