<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Transactions</title>
</head>
<body>
    <h1>Total: </h1>
    <nav>
        <ul>
            <li><a href="/transactions">View Transactions</a></li>
            <li><a href="/transactions/new">New Transaction</a></li>
            <% if (currentUser) { %>
                <li>Welcome <%= currentUser.username %></li>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="btn-small red" />
                    </form>
                </li>
                <% } else { %>
                    <li><a href="/users/new">Sign Up</a></li>
                    <li><a href="/sessions/new">Log In</a></li>
                    <% } %>
        </ul>
    </nav>
            <ul>
                <% for(let i = 0; i < transactions.length; i++) { %>
                    <li>
                        <h3><a href="/transactions/<%=transactions[i].id;%>"><%=transactions[i].title; %></a></h3>
                        <form action="/transactions/<%=transactions[i].id%>?_method=DELETE" method="POST">
                            <input type="submit" value="🗑️"/>
                            <a id="edit" href="/transactions/<%=transactions[i].id%>/edit">✍️</a>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </body>
            </html>
