<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=transaction.title%></title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="main">
        <h1>Title: <%=transaction.title%></h1>
        <h2>Description: <%=transaction.description%></h2>
    </br>
        <h2>Amount: <h2>
            <%  if(transaction.amount >= 0){ %>
            <h3 id="amount">$<%=transaction.amount%></h3>
            <style>
                #amount {
                    color: green;
                }
            </style>
        <% } else { %>
            <h3 id="amount">$<%=transaction.amount%></h3>
            <style>
                #amount {
                    color: red;
                }
            </style>
        <%} %>
        <h4> Date: </h4>
        <h4><%=transaction.date%> </h4>
        <h5>Tags: <%=transaction.tags%></h5>
        <h6><a href="/transactions">Back to your Transactions</a></h6>
    </div>
    </body>
    <style>
    a {
        border: 1px solid black;
        border-radius: 3px;
        padding: .5% 1%;
    }
    h1 {
        margin: 0
    }
    </style>
</html>
